:root {
  background-color: #000;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

#output {
  font-family: system-ui, sans-serif;
  font-size: 100px;
  font-weight: 300;
  margin: 0;
  position: absolute;
  top: calc(25% - 75px);
  left: calc(50% + 75px * 2);
  transform: translate(-50%, -50%);
}

#buttons {
  margin-top: calc(25% / 2);
}